.App {
}

.App-logo {
  font-size: 1.15em;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}
.App-logo a {
  color: var(--c-text);
}
.App-logo span {
  color: var(--c-link);
  margin-left: 2px;
  margin-right: 0;
  transform: translateY(5px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

.Header {
  padding: 1.25rem 1.5rem;
}

.Header-buttons div + div {
  margin-left: 0.4rem;
}

/* FOOTER */

.Footer {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  color: var(--c-text-light);
  font-size: var(--fs-small-text);
  padding-top: calc(0.75 * var(--spacer));
  text-align: center;
}

.Footer a {
  color: var(--c-text-light) !important;
  text-decoration: underline !important;
}
