:root {
  --Note-radius: calc(2.5 * var(--Button-radius));
}

.Note {
  background-color: var(--c-paper);
  border-radius: var(--Note-radius);
  /* box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.08), 0 3px 9px 1px rgba(0, 0, 0, 0.02),
    0 5px 5px -3px rgba(0, 0, 0, 0.05);
  display: block;
  line-height: 1.5;
  margin: var(--spacer) auto calc(2 * var(--spacer));
  max-width: var(--container);
  width: 100%;
}

/* EN LINKS */

.Note-openLink {
  background-color: var(--c-link);
  border-top-right-radius: var(--Note-radius);
  border-top-left-radius: var(--Note-radius);
  color: var(--c-paper);
  padding-bottom: 1px;
  padding-right: 6px;
  text-align: right;
}
.Note-openLink span {
  margin: 0 calc(0.25 * var(--spacer));
}
.Note-openLink a:link {
  color: var(--c-paper);
}
.Note-openLink a:active {
  color: var(--c-paper);
}
.Note-openLink a:visited {
  color: var(--c-text);
}

/* INNER */

.Note-inner {
  padding: var(--spacer);
  padding-top: 0;
}

.Note-heading {
  /* background-color: var(--c-link-bg); */
  /* border-bottom: 1px solid var(--c-link); */
  padding: calc(1.5 * var(--spacer)) var(--spacer);
}

.Note .enNote a {
  text-decoration: underline;
}

.Note hr {
  margin: var(--spacer) 0;
}
